@model IEnumerable<PersonReview>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListView</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center p-2">
        <h2 class="text-center">
            Reviews
        </h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr><th>Date</th><th>Name</th><th>Mark</th></tr>
            </thead>
            <tbody>
                @foreach (PersonReview r in Model)
                {
                    <tr>
                        <td>@r.CreatedAt</td>
                        <td>@r.Name</td>
                        <td>@r.Mark</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
