@model GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
    <body class="text-center">
        <div>
            <h1>Thank you, @Model.Name </h1>
                @if (Model.WillAttend == true)
                {
                    @:It`s great
                }
                else
                {
                    @: Sorry to hear this 
                }
        </div>
    
    <p>Click
        <a asp-action="ListResponses">hear</a>
    </p>

</body>
</html>
